<form>
  <input type="hidden" name="redirect_to" value="/thank-you">
  <div class="form-group">
    <label class="sr-only" for="name-input">Name</label>
    <input type="text" class="form-control" id="name-input" placeholder="Your name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="email-input">Email</label>
    <input type="email" class="form-control" id="email-input" placeholder="Your email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="message-input">Message</label>
    <textarea class="form-control" id="message-input" placeholder="Your message" rows="1"></textarea>
  </div>
  <button type="submit" class="btn">Send message</button>
</form>
