<form action="https://liveformhq.com/form/435e9cb8-bce3-405b-b4b6-cb69fe938c0f" method="POST" accept-charset="utf-8">
  <input type="hidden" name="_utf8" value="✓">
  <!--
    NOTE: This is an optional field, if your form has a field named '_redirect',
    The user will be redirected to this page after the submission is saved
  -->
  <input type="hidden" value="http://andrewnapier.com/thank-you" name="_redirect" />
  <div class="form-group">
    <label class="sr-only" for="name">Name</label>
    <input type="text" class="form-control" id="name-input" name="name" placeholder="Your name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="email">Email</label>
    <input type="text" class="form-control" id="email-input" name="email" placeholder="Your email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="message-input">Message</label>
    <textarea class="form-control" id="message-input" name="message" placeholder="Your message" rows="4"></textarea>
  </div>
    <div id="capt" class="g-recaptcha mb1" data-sitekey="6LeeA7cUAAAAAFTDI39xTHYG2FC_0q4VHvgcDJCu"></div>
    <button type="submit" id="form-submit" class="btn">Send Message</button>
</form>

<script type="text/javascript">

$('#form-submit').click(function(){
  if(grecaptcha.getResponse().length == 0){
     alert('Please check the reCAPTCHA checkbox if you are not a robot, otherwise get lost.');
     return false;
   }
});


 </script>
