{% unless page.no-social %}
<footer>
  <div class="col">
    <div class="quote">
      <a class="alt-link" href="/cutting-room-floor"><span class="quote-content" id="quote2"></span><span class="cursor">|</span></a>
    </div>
  </div>
  <div class="col social text-right">
    <a href="https://twitter.com/andrewnapier" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/andrewnapier/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://vimeo.com/andrewnapier" target="_blank"><i class="fa fa-vimeo"></i></a>
    <a href="http://www.imdb.com/name/nm3598310/" target="_blank">IMDb</a>
  </div>
</footer>
{% endunless %}

{% include scripts.html %}
