<footer>
  <div class="col">
    <div class="quote">
      {% if page.quoteLink %}
      {% assign link = page.quoteLink %}
      {% else %}
      {% assign link = '/cutting-room-floor' %}
      {% endif %}
      <a class="alt-link" href="{{ link }}"><span class="quote-content" id="quote2"></span><span class="cursor">|</span></a>
    </div>
  </div>
  {% unless page.no-social %}
  <div class="col social text-center">
    <a href="https://twitter.com/andrewnapier" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/andrewnapier/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://vimeo.com/andrewnapier" target="_blank"><i class="fa fa-vimeo"></i></a>
    <a href="http://www.imdb.com/name/nm3598310/" target="_blank">IMDb</a>
  </div>
  {% endunless %}
</footer>

{% include scripts.html %}
