{% unless page.no-social %}
<footer>
  <div class="col">
    {% unless page.title == "Contact" %}
    <div class="quote">
      <a class="alt-link" href="/secret"><span class="quote-content" id="quote2"></span><span class="cursor">|</span></a>
    </div>
    {% endunless %}
    {% if page.title == "Contact" %}
    <a class="alt-link credits-link" href="/credits">Website Credits</a>
    {% endif %}
  </div><div class="col social text-right">
    <a href="https://twitter.com/andrewnapier" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/andrew_napier_takes_pictures/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://vimeo.com/andrewnapier" target="_blank"><i class="fa fa-vimeo"></i></a>
    <a href="http://www.imdb.com/name/nm3598310/" target="_blank">IMDb</a>
  </div>
</footer>
{% endunless %}

<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="/js/data.js"></script>
<script src="/js/QuoteMachine.js"></script>
<script src="/js/Typewriter.js"></script>
<script src="/js/main.js"></script>
{% if page.title == "Admin" %}
<script src="/js/admin.js"></script>
{% endif %}
{% if page.title == "Dashboard" %}
<script src="/js/dashboard.js"></script>
{% endif %}
