<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="/js/data.js"></script>
<script src="/js/QuoteMachine.js"></script>
<script src="/js/Typewriter.js"></script>
{% if page.title == "Admin" %}
<script src="/js/admin.js"></script>
{% endif %}
{% if page.title == "Dashboard" %}
<script src="/js/dashboard.js"></script>
{% endif %}
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="/js/video-resize.js"></script>
<script src="/js/main.js"></script>
