.btn {
	border: 0;
	font-size: 1rem;
	padding: 10px;
  border : 1px solid rgba($grey, 0.5);
  background-color: transparent;
	border-radius: 5px;
  margin-bottom: 2rem;
}
.header-btn {
  display: inline-block;
  margin-bottom: 2rem;
}
