.card-title {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}
.card-list {
  list-style: none;
  padding-left: 0;
}
.card-list li {
  display: inline-block;
  margin-right: 15px;
}
