footer {
  width: 100%;
  padding: 1rem;
}
footer .col {
  display: inline-block;
  width: 50%;
}
footer a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.social a {
  font-weight: bold;
  border-bottom: 0;
  color: $light-grey;
}
