footer {
  overflow: auto;
  width: 100%;
  padding: 1rem;
}
.col {
  float: left;
  width: 50%;
}
@media(min-width:768px) {
  footer .col-md {
    float: left;
    width: 50%;
  }
}
footer a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.social a {
  font-weight: bold;
  border-bottom: 0;
  color: $light-grey;
}
