.form-group {
	margin-bottom: 30px;
}
.form-control {
	width: 100%;
	padding: 5px 0;
	border: 0;
	border-bottom: 1px solid $light-grey;
	transition: .3s border-color;
}
.form-control:focus {
	outline: none;
	border-color: $grey;
	transition: .3s border-color;
}
#login-form {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 680px;
	margin-right: auto;
	margin-left: auto;
}
