.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}
.main {
  padding-top: 80px;
  padding-bottom: 20px;
}
@media(min-width: 768px) {
  .main {
    padding-bottom: 80px;
  }
}
