.cover {
  position: absolute;
  height: 100%;
  width: 100%;
}
.cover footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
.nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.nav a {
	text-decoration: none;
  border-bottom: 0;
  text-transform: uppercase;
}
.nav #secret {
  display: inline-block;
  width: 30px;
  height: 15px;
}
.nav ul {
  margin-top: 0;
	list-style: none;
	padding-left: 0;
}
.nav ul li {
  margin-bottom: 20px;
}
.nav hr {
  margin-top: 9rem;
}
