.cover {
  height: 100vh;
}
.cover footer {
  position: fixed;
  bottom: 0;
  right: 0;
}
.nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  text-align: center;
}
.nav a {
	text-decoration: none;
  border-bottom: 0;
}
.nav ul {
  margin-top: 0;
	list-style: none;
	padding-left: 0;
}
.nav ul li {
  margin-bottom: 20px;
}
.nav hr {
  margin-top: 9rem;
}
