* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-weight: 300;
  color: #FFF;
  background-color: #1e1e1e;
  font-family: 'Nunito', sans-serif;
}
h1 {
  text-transform: uppercase;
  font-weight: 100;
}
h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 18px;
}
.caption {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.square {
  float: left;
  text-align: center;
  background-color: #232323;
  width: 33.33333%;
  height: 33vw;
}
