* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 300;
  background-color: #1e1e1e;
  font-family: 'Nunito', sans-serif;
}
.square {
  float: left;
  background-color: #232323;
  width: 33.33333%;
  height: 33vw;
}
